{{#if quickmobilerEnabled}}
  <div class="control-group quickmobiler">
    <label class="control-label">Quick Mobile Icon</label>
    <div class="controls">
      <label>Which icon to use?</label>
      <label class='text-label'>
        {{input type="text" value=controller.model.custom_fields.quickmobiler}}
      </label>
    </div>
  </div>
{{/if}}

